version: "3.8"

services:
  mysqldb:
    image: mysql:5.6
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=root  # This is the root password for MySQL
      - MYSQL_DATABASE=kaddem_db
    ports:
      - 3306:3306
    volumes:
      - db:/var/lib/mysql
    networks:
      - kaddem_network

  backend:
    depends_on:
      - mysqldb
    image: hamzabox/ayarihamza-g1-kaddem-api:3
    # build: ./backend  # Uncomment if you want to build the backend locally
    restart: on-failure
    ports:
      - 8082:8089
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/kaddem_db?createDatabaseIfNotExist=true&userSSL=false&max_allowed_packet=15728640
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    stdin_open: true
    tty: true
    networks:
      - kaddem_network
    container_name: kaddem-backend

  frontend:
    image: hamzabox/ayarihamza-g1-kaddem-frontend:6
    container_name: kaddem-frontend
    ports:
      - 4200:80
    depends_on:
      - backend
    networks:
      - kaddem_network

volumes:
  db:

networks:
  kaddem_network:
    driver: bridge
